### IntelliJ IDEA ###
out/
!**/src/ua/**/classwork/
.idea
*.iml
*.iws
*.ipr
*.xml

.idea/**/workspace.xml
.idea/**/modules.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf


# Compiled class file
*.class

# Log file
*.log